@import "tailwindcss";
@import "tailwindcss-animated";

@font-face {
  font-family: Thunder;
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-display: swap;
  src: url("/font/Thunder-VF.ttf") format("truetype-variations");
}

@font-face {
  font-family: Anton;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/font/anton.ttf") format("truetype-variations");
}

@theme {
  /* Colors */
  --color-primary: #b4751d;
  --color-secondary: #fff5e2;
  --color-accent: #4a4e00;

  /* Fonts */
  --font-primary: "Thunder", sans-serif;
  --font-secondary: "Anton", sans-serif;
}

@layer base {
  h1 {
    @apply font-secondary uppercase;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply font-primary text-lg font-semibold uppercase;
  }
}

@layer utilities {
  .boxed {
    @apply mx-auto max-w-[1500px];
  }
}
