@import "tailwindcss";
@import "tailwindcss-animated";

@font-face {
  font-family: Thunder;
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-display: swap;
  src: url("/font/Thunder-VF.ttf") format("truetype-variations");
}

@font-face {
  font-family: Anton;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/font/anton.ttf") format("truetype-variations");
}

@theme {
  /* Colors */
  --color-primary: #b4751d;
  --color-secondary: #fff5e2;
  --color-accent: #4a4e00;
  --color-accent-dark: #3e4100;

  /* Fonts */
  --font-primary: "Thunder", sans-serif;
  --font-secondary: "Anton", sans-serif;
}

@layer base {
  h1 {
    @apply font-secondary selection:bg-accent uppercase;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply font-primary selection:bg-primary text-xl font-semibold uppercase;
  }
}

@layer utilities {
  .boxed {
    @apply mx-auto max-w-[1500px];
  }
  .link-underline {
    @apply bg-accent absolute bottom-0 left-0 h-0.5 w-full origin-right scale-x-0 transition-transform duration-300 ease-in-out group-hover:origin-left group-hover:scale-x-100;
  }
}
